---
layout: default
---

{% assign posts = site.posts %}

{%- if posts.size > 0 -%}
  {%- for post in posts -%}
  <div style="margin-bottom: 2rem;">
    <small>{{ post.date | date: "%-d %B %Y" }}</small>

    <a href="{{ post.url | relative_url }}">
      <h2 style="margin-bottom: 0;">
        {{ post.title }}
      </h2>
    </a>

    <p style="margin-bottom: 1.5rem;">
      {{post.summary}}
    </p>

    {%- if post.mp3_url -%}
      <audio controls preload="none">
        <source src="{{ post.mp3_url }}" type="audio/mp3">
      </audio>
    {%- endif -%}
  </div>
  {%- endfor -%}
{%- endif -%}
